/* Fonts */
@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../font/Segoe UI.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../font/Segoe UI Italic.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../font/Segoe UI Bold.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../font/Segoe UI Bold Italic.woff') format('woff');
}

html {
    overflow-x: hidden;
}

body {
    background-color: #689F39;
    color: #FFFFFF;
    font-family: 'Segoe UI Regular';
    max-width: 310px;
    margin: 0 auto;
}

.logo {
    width: 104px;
    height: 188px;
    margin: 20px auto;
}

.main form {
    width: 200px;
    margin: 0 auto;
}

.main form input:not([type=checkbox]) {
    width: 100%;
    color: #FFFFFF;
}

.main form input[type=email],
.main form input[type=password] {
    padding-left: 33px;
    width: calc(100% - 35px);
    border: none;
    border-bottom: 1px solid #707070;
    background-color: transparent;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 25px 22px;
    font-size: 23px;
}

.main form input[type=email]:focus,
.main form input[type=password]:focus {
    border: none;
    border-bottom: 1px solid #707070;
}

.main form input::placeholder,
.main form input::-webkit-input-placeholder,
.main form input::-ms-input-placeholder {
    opacity: 1;
    color: rgba(255, 255, 255, 1);
}

.error--list {
    color: #FF0000;
    position: absolute;
    bottom: 25px;
    font-size: 17px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    left: 80px;
    font-family: 'Segoe UI Bold';
}

.main form input[type=email] {
    margin-top: 33px;
    background-image: url('../images/email.svg');
}

.main form input[type=password] {
    margin-top: 49px;
    background-image: url('../images/password.svg');
}

.main form label,
.main form input[type=checkbox] {
    margin-top: 43px;
    font-size: 15px;
}

.main form input[type=submit] {
    margin-top: 50px;
    margin-left: 10px;
    width: 179px;
    height: 46px;
}

.btn--main--accept {
    border-radius: 23px;
    border: 1px solid #707070;
    background-color: #05386B;
    font-size: 20px;
    color: white;
}

.btn--main--cancel {
    font-size: 20px;
    color: #FF0000;
    background: transparent;
    border: 1px solid #FF0000;
    border-radius: 23px;
}

.main .forgot-div {
    position: absolute;
    left: 111px;
    margin: 0 auto;
    margin-top: 29px;
}

.main .forgot-div a {
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

h1 {
    font-size: 20px;
    font-family: 'Segoe UI Bold';
    margin-top: 114px;
}

.main--forget p {
    margin-top: 41px;
    font-size: 17px;
}

.main--forget form input[type=email] {
    margin-top: 35px;
}

.main--forget form input[type=submit] {
    margin-top: 49.5px;
}

.header {
    height: 72px;
    width: 100%;
    background: #689F39;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.top {
    display: flex;
    justify-content: space-between;
}

#menu {
    display: none;
}

.menu--hamburger {
    width: 30px;
    height: 25px;
    margin: 36px 11px;
}

.menu-items {
    position: relative;
    left: 12px;
    display: none;
}

.menu-items a {
    position: absolute;
    left: 1000px;
    font-size: 25px;
    font: Segoe UI Bold;
    color: #FFFFFF;
    text-decoration: none;
}

.time {
    height: 25px;
    margin: 36px 11px;
    font-weight: bold;
    font-size: 21px;
}

.dates {
    position: absolute;
    top: 99px;
    right: 0;
    width: 100vw;
    height: 60px;
    background-color: #05CB95;
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
}

.pickedDate {
    background-color: #057456;
    border: 1px solid white;
    vertical-align: center;
}

.date {
    cursor: pointer;
}

.date span {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}

.patient {
    margin: 29px auto;
    width: 288px;
    min-height: 191px;
    background: #379683 0% 0% no-repeat padding-box;
    border: 1px solid #05CB95;
    display: grid;
    margin-bottom: 30px;
}

.patient__content {
    max-width: 200px;
    margin: 0 auto;
}

.patient .beschrijving {
    width: 100%;
}

.patient-2-together {
    display: grid;
    grid-template-columns: auto auto;
}

.patient h2 {
    font-size: 18px;
    text-align: center;
}

.patient .tasks-gedaan {
    position: relative;
    bottom: 10px;
}

.patient button {
    color: white;
    position: absolute;
    right: 89px;
    width: 81px;
    height: 36px;
    background: #05386B;
    border: 1px solid #707070;
    border-radius: 23px;
}

.main__tasks {
    position: absolute;
    top: 180px;
}

.task {
    margin: 29px auto;
    width: 302px;
    height: 100px;
    background-color: #2F695E;
    border: 1px solid #05CB95;
    display: grid;
    margin-bottom: 30px;
}

.task__completed {
    background-color: #379683;
}

.task__content {
    max-width: 200px;
    margin: 0 auto;
}

.task__time {
    position: absolute;
    left: 20px;
    font-weight: bold;
    font-size: 30px;
} 

.task__name {
    position: absolute;
    left: 125px;
    margin: 1.9em 0;
    font-weight: bold;
    font-size: 20px;
}

.task__content img {
    position: absolute;
    left: 240px;
    margin: 2.4em 0;
    width: 34px;
    height: 27px;
}

.extra--task__content {
    font-weight: bold;
    font-size: 16px;
    margin: 4.7em .3em;
}

.hidden {
    display: none;
}

.task__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 90%;
    margin: 2em auto;
}

.back {
    width: 26px;
    height: 23px;
    cursor: pointer;
}

.task__title {
    margin: -.4em -.7em;
    font-weight: bold;
    font-size: 38px;
}

.panic button {
    margin: -1em .5em;
    background: transparent;
    border: 1px solid #FF0000;
    color: #FF0000;
    width: 78px;
    height: 36px;
    border-radius: 15px;
    cursor: pointer;
}

.timer {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #707070;
    background: white;
    height: 30px;
}

.main__task {
    width: 90%;
    margin: 0 auto;
}

.main__task img {
    height: 180px;
    margin: 2em 1.5em;
}

.main__task p {
    height: 104px;
    font-size: 20px;
    font-weight: bold;
}

.bottom__task {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.audio img {
    width: 94px;
    height: 41px;
    border: 1px solid black;
    border-radius: 15px;
}

.audio {
    cursor: pointer;
}

.previous__step,
.next__step {
    width: 94px;
    height: 109px;
    background: #05386B;
    border: #707070 solid 1px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

.previous__step span,
.next__step span {
    position: relative;
    top: 40%;
    font-weight: bold;
}

.previous__step span {
    font-size: 22px;
}

.next__step span {
    font-size: 18px;
}

.middletwo {
    margin: 0 1em; 
    display: grid;
    text-align: center;
}

.step__count {
    font-size: 25px;
    font-weight: bold;
}